/*
padding-top: 10px;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding:
    all
    top/bottom right/left
    top right/left bottom
    top right bottom left
*/
body {
    margin: 0;
}
/*margin in body gonna disappear*/
h2 {
    background: orange;
    padding: 20px 200px /*20 for top and bottom 200 for right and left*/
}

h3 {
    background: blue;
    padding: 10px 100px 200px 300px
    /*10 for top 100 for right 200 for bottom 300for left*/
}
